.error-message{
    border: 1px solid red;
    width:40%;
    height:200px;
    margin: auto;
    text-align: center;
    color: red;
    position: relative;
    
        
}
.error-text{
    position: absolute;
    left:50%;
    top:50%;
   transform:translate(-50%,-50%);
}
.users-table td{
    text-align:left;
}